<body>
    
<div class="jumbotron jtt  center">
    <h1>Major Technical Projects</h1>
    <p>Here am I going to publish my projects with next to programming also technical specifications.</p>
    <%= link_to ".", "/sm" %>
</div>

<div class="jumbotron jth2">
    <h2>Rocket</h2>
    <p>In this projects I'm working together with Martin with whom I have an exchange program.</p>
    <%= link_to "Rocket Project", "/rocket" %>
</div>

<div class="jumbotron jth2">
    <h2>Armadillo Project</h2>
    <p>In this projects I'm working alone and am I going to create my first robot.</p>
    <%= link_to "Armadillo Project", "/armadillo" %>
</div>

<div class="jumbotron jth2">
    <h2>Dragonfly</h2>
    <p>In this projects I'm going to create a filming drone.</p>
    <%= link_to "Dragonfly Project", "/dragonfly" %>
</div>

<div class="jumbotron jth2">
    <h2>iBoard</h2>
    <p>In this projects I will create an electric skateboard with sensative buttons to break and drive, with an app to see the condition of the skateboard</p>
    <%= link_to "iBoard Project", "/iboard" %>
</div>

<div class="jumbotron jth2">
    <h2>eNews</h2>
    <p>In this projects I'm making a newspaper with epaper so you can read your news like you're used to but than without wasting paper</p>
    <%= link_to "eNews Project", "/enews" %>
</div>

</body>